{% extends "../generic/generic.html" %}

{% block title %}Reset Password Sent - RapidRollout{% endblock %}

{% block content %}
<section class="flex-grow h-full w-full flex justify-center items-center md:items-start md:pt-15">
    <div class="my-4 md:my-0 min-w-full md:min-w-[65dvw] md:max-w-[70dvw] lg:min-w-[25dvw] lg:max-w-[28dvw] p-6 flex flex-col gap-6 items-center bg-[#2c2f33] rounded-[8px] shadow-md">
        <h1 class="inter-semibold text-[36px] leading-snug">Reset Password</h1>
        <div class="w-full p-6 rounded-[8px] border-[1px] border-[#9eeaf9] bg-[#cff4fc] text-[20px] text-[#055160]">
            We have emailed you instructions to set your password.
            If you don’t see it within a few minutes, please check your spam folder.
        </div>

        <form class="w-full flex flex-col gap-6" method="post">
            {% csrf_token %}
            <div class="flex flex-col gap-2">
                <label for="{{ form.email.id_for_label }}" class="text-[20px]">Email address</label>
                <input
                    type="email"
                    name="{{ form.email.name }}"
                    id="{{ form.email.id_for_label }}"
                    value="{{ form.email.value|default_if_none:'' }}"
                    class="w-full px-4 py-2 border border-[#444] text-[#f1f1f1] focus:border-[#5c7cfa] focus:[box-shadow:0_0_0_0.2rem_rgba(92,124,250,0.25)] focus-within:border-[#5c7cfa] focus-within:[box-shadow:0_0_0_0.2rem_rgba(92,124,250,0.25)] focus-visible:border-[#5c7cfa] focus-visible:[box-shadow:0_0_0_0.2rem_rgba(92,124,250,0.25)] rounded-[8px] bg-[#3a3b3c] focus:bg-[#27292a] text-[20px] placeholder-[#a0a0a0] outline-none transition-all duration-200 ease-in-out {% if form.email.errors %}is-invalid{% endif %}"
                    placeholder="Enter your email address"
                    required
                    disabled
                >
            </div>

            {% if form.email.errors %}
            <div class="w-full p-6 rounded-[8px] border-[1px] border-[#f1aeb5] bg-[#f8d7da] text-[20px] text-[#58151c]">
                {{ form.email.errors.0 }}
            </div>
            {% endif %}
        </form>
    </div>
</section>
{% endblock %}
