{% extends '../base.html' %}

{% block title %}All Users - RapidRollout{% endblock %}

{% block content %}
<section class="py-4 md:py-15 md:py-0 flex-grow h-full w-full flex flex-col gap-6 md:gap-15 items-center relative">
    <div class="w-full md:w-[70dvw] lg:w-[45dvw] flex flex-col gap-4 md:gap-6">
        <h1 class="w-full inter-semibold text-[36px] leading-snug">All Users</h1>
        
        <a href="{% url 'create_user' %}" class="w-fit px-6 py-3 bg-[#5c7cfa] hover:bg-[#4c6ef5] text-[20px] text-[#000] inter-medium rounded-[8px] transition-colors duration-300 ease-in-out" type="submit">Create New User</a>
    </div>

    <ul class="w-full md:w-[70dvw] lg:w-[45dvw] flex flex-col gap-6 text-[20px]">
        {% for user in users %}
            <li class="w-full p-6 flex flex-wrap flex-col md:flex-row gap-6 md:justify-between items-center bg-[#2c2f33] rounded-[8px] shadow-md">
                <span class="inter-medium text-[24px]">{{ user.username }}</span>
                
                <div class="flex flex-row gap-6">
                    <a href="{% url 'edit_user' user.profile.id %}" class="w-fit px-6 py-3 bg-[#5c7cfa] hover:bg-[#4c6ef5] text-[20px] text-[#000] inter-medium rounded-[8px] transition-colors duration-300 ease-in-out">Edit</a>
                    <button
                        class="runModalBtns cursor-pointer w-fit px-6 py-3 bg-[#ef4444] hover:bg-[#b91c1c] text-[20px] text-[#000] inter-medium rounded-[8px] transition-colors duration-300 ease-in-out"
                        data-title="Confirm Deletion"
                        data-content="Are you sure you want to delete the user <span class='inter-semibold'>{{ user.username }}</span>?"
                        data-submit-href="{% url 'delete_user' user.profile.id %}"
                        data-submit-text="Delete"
                        data-submit-cssclasses='["bg-[#ef4444]", "hover:bg-[#b91c1c]"]'
                    >
                        Delete
                    </button>
                </div>
            </li>
        {% empty %}
            <li class="w-full p-6 rounded-[8px] border-[1px] border-[#f1aeb5] bg-[#f8d7da] text-[20px] text-[#58151c]">
                No users found.
            </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
