{% extends '../base.html' %}

{% block title %}Create a New Project - RapidRollout{% endblock %}

{% block content %}
<section class="flex-grow h-full w-full flex justify-center items-center md:items-start md:py-15">
    <div class="my-4 md:my-0 min-w-full md:min-w-[65dvw] md:max-w-[70dvw] lg:min-w-[25dvw] lg:max-w-[28dvw] p-6 flex flex-col gap-6 items-center bg-[#2c2f33] rounded-[8px] shadow-md">
        <h1 class="inter-semibold text-[36px] leading-snug">Create a New Project</h1>

        <form id="createProjectForm" class="w-full flex flex-col gap-6" method="post" novalidate>
            {% csrf_token %}
            {{ form.as_div }}
            <button class="cursor-pointer w-full py-3 bg-[#5c7cfa] hover:bg-[#4c6ef5] text-[20px] text-[#000] inter-medium rounded-[8px] transition-colors duration-300 ease-in-out" type="submit">Create Project</button>
        </form>
    </div>
</section>
{% endblock %}
