{% extends '../base.html' %}

{% block title %}Your Projects - RapidRollout{% endblock %}

{% block content %}
<section class="py-4 md:py-15 md:py-0 flex-grow h-full w-full flex flex-col gap-6 md:gap-15 items-center relative">
    <div class="w-full md:w-[70dvw] lg:w-[45dvw] flex flex-col gap-4 md:gap-6">
        <h1 class="w-full inter-semibold text-[36px] leading-snug">Your Projects</h1>
        
        <a href="{% url 'create_project' %}" class="w-fit px-6 py-3 bg-[#5c7cfa] hover:bg-[#4c6ef5] text-[20px] text-[#000] inter-medium rounded-[8px] transition-colors duration-300 ease-in-out" type="submit">Create New Project</a>
    </div>

    <ul class="w-full md:w-[70dvw] lg:w-[45dvw] flex flex-col gap-6 text-[20px]">
        {% for project in projects %}
            <li class="w-full p-6 flex flex-wrap flex-col md:flex-row gap-6 md:justify-between items-center bg-[#2c2f33] rounded-[8px] shadow-md">
                <a class="block break-all text-[#60a5fa] hover:text-[#3b82f6] hover:underline inter-medium text-[24px] transition-colors duration-300 ease-in-out" target="_blank" href="{{ project.repository_url }}">{{ project.repository_url }}</a>
                
                <div class="flex flex-row gap-6">
                    <a href="{% url 'edit_project' project.id %}" class="w-fit px-6 py-3 bg-[#5c7cfa] hover:bg-[#4c6ef5] text-[20px] text-[#000] inter-medium rounded-[8px] transition-colors duration-300 ease-in-out">Edit</a>
                    <button
                        class="runModalBtns cursor-pointer w-fit px-6 py-3 bg-[#ef4444] hover:bg-[#b91c1c] text-[20px] text-[#000] inter-medium rounded-[8px] transition-colors duration-300 ease-in-out"
                        data-title="Confirm Deletion"
                        data-content="Are you sure you want to delete the project with repository url <span class='inter-semibold break-all lg:break-normal'>{{ project.repository_url }}</span>?"
                        data-submit-href="{% url 'delete_project' project.id %}"
                        data-submit-text="Delete"
                        data-submit-cssclasses='["bg-[#ef4444]", "hover:bg-[#b91c1c]"]'
                    >
                        Delete
                    </button>
                </div>
            </li>
        {% empty %}
            <li class="w-full p-6 rounded-[8px] border-[1px] border-[#9eeaf9] bg-[#cff4fc] text-[20px] text-[#055160]">
                No projects yet.
            </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
