{% extends '../base.html' %}

{% block title %}Secret - RapidRollout{% endblock %}

{% block content %}
<section class="py-4 md:py-15 md:py-0 flex-grow h-full w-full flex flex-col gap-4 md:gap-15 items-center">
    <div class="w-full md:w-[70dvw] lg:w-[35dvw] p-6 flex flex-col items-center gap-6 bg-[#2c2f33] rounded-[8px] shadow-md">
        <h1 class="w-full text-center inter-semibold text-[36px] leading-snug">Secret Created</h1>
        <h2 class="w-full text-center inter-semibold text-[28px] leading-snug">This is your secret key. Click it to copy — you won't see it again:</h2>
        
        <div id="copySuccess" class="hidden w-full p-6 rounded-[8px] border-[1px] border-[#a3cfbb] bg-[#d1e7dd] text-[20px] text-[#0a3622]">
            Copied!
        </div>

        <div id="secretKey" title="Click to copy" class="block break-all cursor-pointer text-[20px] text-center w-full p-6 bg-[#3a3b3c] rounded-[8px] shadow-md">{{ secret }}</div>
        {% if next %}
            <a class="text-center px-6 py-3 bg-[#5c7cfa] hover:bg-[#4c6ef5] text-[20px] text-[#000] inter-medium rounded-[8px] transition-colors duration-300 ease-in-out"
               href="{{ next }}">
                {{ nextTxt }}
            </a>
        {% else %}
            <a class="text-center px-6 py-3 bg-[#5c7cfa] hover:bg-[#4c6ef5] text-[20px] text-[#000] inter-medium rounded-[8px] transition-colors duration-300 ease-in-out"
               href="{% url 'project_list' %}">
                Back to Projects
            </a>
        {% endif %}
    </div>
</section>
{% endblock %}
